/* Regular Weight*/
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Regular Weight*/
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Thin Weight */
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2'),
       url('/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


/* Updated root with JetBrains Mono */
:root {
  font-family: 'JetBrains Mono', monospace; 
  line-height: 1.5;
  font-weight: 400;

  height: 100%;
  margin: 0;
  padding: 0;

  color: #e0e0e0;
  background-color: #121212;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

